@tailwind base;
@tailwind components;
@tailwind utilities;

/* In styles/globals.css */
.navbar {
  display: flex;
  align-items: center;
}

.navbar-block {
  width: 80px;
  height: 48px;
}

.bg-blue-lightest { background-color: #d9ecf2; } /* Adjust as needed */
.bg-blue-lighter { background-color: #a8d0e6; }
.bg-blue-light { background-color: #51a4cd; }
.bg-blue-dark {
  background-color: #0072bb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 208px;
}
